
html {
    --antd-wave-shadow-color: #e56045;
  }

body {background:'#ECECEC' !important;}


a {
    color:#e56045;
}

a:hover {
    opacity: 0.87;
    color: #e56045;
}

.mrn {
    margin-right:0px !important;
}

.pull-left {
    float:left;
}

.ant-input:hover {
  border-color:#e56045;
}

.ant-input:focus {
    border-color:#e56045;
}
.pull-right {
    float:right;
}

.mt5 {
    margin-top:5px;
}

.ant-pagination-item:focus a, .ant-pagination-item:hover a {
    color:#e56045;
}

.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    border-color:#e56045;

}
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    border-color:#e56045 !important;
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #e56045;
}
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #e56045;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  display: inline-block;
  font-size: 12px;
  font-size: 12px \9;
  -webkit-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  color: #e56045;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  border-color: #e56045;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #e56045;
  border-color: #e56045;
}

.ant-btn-dashed:hover, .ant-btn-dashed:focus {
    color:#e56045;
}
#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #e56045;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #e56045,0 0 5px #e56045;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0,-4px);
    -ms-transform: rotate(3deg) translate(0,-4px);
    transform: rotate(3deg) translate(0,-4px)
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #e56045;
    border-left-color: #e56045;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite
}
#components-layout-demo-top-side .logo {
  width: 180px;
  height: 60px;
  /*background: #333;*/
  /*border-radius: 6px;*/
  margin: 16px 28px 16px 0;
  float: left;
  margin-right:20% !important;
  /* background-image: url(../common/logo.png); */
  background: #1d1d1d;
  color: white;
  text-align: center;
}

.channel_filter .appCode {
	width:100px !important;
}

.channel_filter .online {
	width:100px !important;
}

.channel_filter .channelGroup {
	width:160px !important;
}

.channel_filter .searchChannel {
	width:100px !important;
}

.channel_charts {
	background: #fff !important;
	padding: 24px !important;
	margin: 24px !important;
	margin-bottom: 0 !important;
	margin-top:24px !important;
	min-height: 380px !important;
}

.channel_table {
	background: #fff !important;
	padding: 24px !important;
	margin: 24px !important; 
	margin-top:24px !important;
	min-height: 280px !important;
}

.channel_DataPicker {
	width:220px !important;
}

.channel_filter {
	background: #ffffff !important;
    /* padding: 24px !important; */
    padding: 13px 24px 13px 24px !important;
	margin: 0px !important; 
	min-height:'0px' !important;
	/* box-shadow: 1px 1px 5px #e4e7f4; */
	box-shadow: 1px 1px 5px #ddd;
}

.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color:#e56045;
}

.leftNav {
	/*background: '#484b5b' !important;*/
	border-right: 1px solid #ddd;
}

.ant-menu-inline {
	/* background: #484b5b; */
	background: white;
}

.ant-menu-item > a {
	/* color:#e2e3eb; */

	font-size:14px;
	font-family: arial,Hiragino Sans GB,sans-serif;
	font-weight: bold;
}

.ant-menu-item > a:hover {
	color:#e56045;
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected {
	color:#e56045;
}

.ant-menu-item > a.active {
	color:#e56045;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background-color: #51577a; */
  background-color:#e5e5e5;
  color:#e56045
}

.ant-menu-submenu-selected {
	color:#e56045;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
	color:#e56045;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: -webkit-gradient(linear, left top, right top, from(#e56045), to(#e56045));
  background: linear-gradient(to right, #e56045, #e56045);
}

.ant-menu-inline .ant-menu-item:after,
.ant-menu-vertical .ant-menu-item:after {
	/* border-right: 3px solid #7988e4; */
	border-right: 5px solid #e56045;
}

.ant-layout-header {
	padding: 0;
	/*height:60px;*/
	height:59px;
	line-height:59px;
}

#components-layout-demo-top-side .logo {
	width:180px;
	margin:0;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.67);
  /* background: #6d7ac9; */
  background: #4d4d4d;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background-color: #7c89d6;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a{
	color: #fff;
}

.ant-menu-dark.ant-menu-horizontal {
	border-bottom-color: #4d4d4d;
	/* border-bottom-color: #1a1a1a; */
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e56045;
    border-color: #e56045;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #e56045;
    border: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: ' ';
  }


  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e56045;
  }

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
	border-color: #e56045;
}

.ant-layout {
	background-color: #f2f2f2;
	/* background-color: #eceffa; */
	overflow: hidden;
}

.ant-btn-primary {
	color: #fff;
    background-color: #e56045;
    border-color: #e56045;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    opacity: 0.87;
    background-color: #e56045;
    border-color: #e56045;
}

.ant-btn:hover, .ant-btn:focus {
    /* color: ; */
    /*color:white;*/
    /*background-color: #fff;*/
    border-color: #e56045;

}

.ant-btn-dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;
  }
  .ant-btn-dashed > a:only-child {
    color: currentColor;
  }
  .ant-btn-dashed > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
  }
  .ant-btn-dashed:hover,
  .ant-btn-dashed:focus {
    color: #e56045;
    background-color: #fff;
    border-color: #e56045;
  }
  .ant-btn-dashed:hover > a:only-child,
  .ant-btn-dashed:focus > a:only-child {
    color: currentColor;
  }
  .ant-btn-dashed:hover > a:only-child::after,
  .ant-btn-dashed:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
  }
  .ant-btn-dashed:active,
  .ant-btn-dashed.active {
    color: #e56045;
    background-color: #fff;
    border-color: #e56045;
  }
  .ant-btn-dashed:active > a:only-child,
  .ant-btn-dashed.active > a:only-child {
    color: currentColor;
  }
  .ant-btn-dashed:active > a:only-child::after,
  .ant-btn-dashed.active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
  }
  .ant-btn-dashed-disabled,
  .ant-btn-dashed.disabled,
  .ant-btn-dashed[disabled],
  .ant-btn-dashed-disabled:hover,
  .ant-btn-dashed.disabled:hover,
  .ant-btn-dashed[disabled]:hover,
  .ant-btn-dashed-disabled:focus,
  .ant-btn-dashed.disabled:focus,
  .ant-btn-dashed[disabled]:focus,
  .ant-btn-dashed-disabled:active,
  .ant-btn-dashed.disabled:active,
  .ant-btn-dashed[disabled]:active,
  .ant-btn-dashed-disabled.active,
  .ant-btn-dashed.disabled.active,
  .ant-btn-dashed[disabled].active {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .ant-btn-dashed-disabled > a:only-child,
  .ant-btn-dashed.disabled > a:only-child,
  .ant-btn-dashed[disabled] > a:only-child,
  .ant-btn-dashed-disabled:hover > a:only-child,
  .ant-btn-dashed.disabled:hover > a:only-child,
  .ant-btn-dashed[disabled]:hover > a:only-child,
  .ant-btn-dashed-disabled:focus > a:only-child,
  .ant-btn-dashed.disabled:focus > a:only-child,
  .ant-btn-dashed[disabled]:focus > a:only-child,
  .ant-btn-dashed-disabled:active > a:only-child,
  .ant-btn-dashed.disabled:active > a:only-child,
  .ant-btn-dashed[disabled]:active > a:only-child,
  .ant-btn-dashed-disabled.active > a:only-child,
  .ant-btn-dashed.disabled.active > a:only-child,
  .ant-btn-dashed[disabled].active > a:only-child {
    color: currentColor;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: #e56045;
  }

  .ant-radio-checked::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e56045;
    border-radius: 50%;
    visibility: hidden;
    -webkit-animation: antRadioEffect 0.36s ease-in-out;
            animation: antRadioEffect 0.36s ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    content: '';
  }

  .ant-radio-inner::after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: #e56045;
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: ' ';
  }

  .ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #e56045;
}

  .ant-btn-dashed-disabled > a:only-child::after,
  .ant-btn-dashed.disabled > a:only-child::after,
  .ant-btn-dashed[disabled] > a:only-child::after,
  .ant-btn-dashed-disabled:hover > a:only-child::after,
  .ant-btn-dashed.disabled:hover > a:only-child::after,
  .ant-btn-dashed[disabled]:hover > a:only-child::after,
  .ant-btn-dashed-disabled:focus > a:only-child::after,
  .ant-btn-dashed.disabled:focus > a:only-child::after,
  .ant-btn-dashed[disabled]:focus > a:only-child::after,
  .ant-btn-dashed-disabled:active > a:only-child::after,
  .ant-btn-dashed.disabled:active > a:only-child::after,
  .ant-btn-dashed[disabled]:active > a:only-child::after,
  .ant-btn-dashed-disabled.active > a:only-child::after,
  .ant-btn-dashed.disabled.active > a:only-child::after,
  .ant-btn-dashed[disabled].active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
  }


  .ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
    background-color: #ffb9b2;
    cursor: pointer;
  }

  .ant-btn-default:active, .ant-btn-default.active {
    color: #e56045;
    border-color: #e56045;
  }

  .ant-btn-default:hover, .ant-btn-default:focus {
    color: #e56045;
  }


  .QrcodeLoginImg {
    margin: 0 auto;
    width:300px;
  }
  .login_filter {
    width:500px;
    padding:24px;
    margin: 0 auto;
    background: white;
  }

  @-webkit-keyframes transferHighlightIn {
    0% {
      background: #ffb9b2;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes transferHighlightIn {
    0% {
      background: #ffb9b2;
    }
    100% {
      background: transparent;
    }
  }

  .ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover  {
    background-color: #ffb9b2;
  }
.ant-btn-default:hover {
    color:#e56045;
}

.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
    border-right-color: #e56045;
}

.ant-btn-group .ant-btn-primary:last-child:not(:first-child), .ant-btn-group .ant-btn-primary + .ant-btn-primary {
	border-left-color: #e56045;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #fff;
    border-color: #d9d9d9;
    color: #484b5b;
    padding-bottom: 5px;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
	margin: 0;
    border: 1px solid #d5dcf3;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #e3e7f5;
    margin-right: 2px;
    color: #666;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
	background-color: #fff;
}

.ant-table-thead > tr > th {
	background-color:#e5e5e5;
	/* color: white; */
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
	text-align: center;
    border:0;
    /* padding: 8px 16px; */
}

.ant-table-thead > tr:first-child > th:first-child {
    border-radius: 0px;
}

table tr:nth-child(even) {

    background: #f2f2f2;
    /* color:white; */
	border:0px;

}

.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
	background: #f2f2f2;
}

.ant-pagination-item-active {
	background-color: #e56045;
    border-color: #ffb9b2;
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
	background-color: #e56045;
    border-color: #ffb9b2;
}

.ant-pagination-item:focus, .ant-pagination-item:hover {
	border-color: #e56045;
}

.ant-select-selection:hover {
	border-color: #e56045;
}

.ant-select-selection {
	border: 1px solid #dbe0f1;
}

.ant-calendar-picker-input {
	border: 1px solid #dbe0f1;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #e56045;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #ffb9b2;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #ffb9b2;
}



.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #f2f2f2;
}

.ant-back-top {
	right: 24px;
    bottom: 24px;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #e56045;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-size:12px;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
	margin-top: 0px;
    margin-bottom: 0px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
	/*margin-bottom: 6px;*/
	margin-bottom:0px;
}

.ant-calendar-table tr:nth-child(even) {

	background: #fff;
	border:0px;

}

.ant-calendar-date:hover {
	background-color:#eceffa;
}

.ant-calendar-range .ant-calendar-in-range-cell:before {
	background-color:#eceffa;
}

.ant-calendar-selected-day .ant-calendar-date {
	background-color:#74c9ff;
}

.ant-calendar-today .ant-calendar-date {
	border-color: #74c9ff;
    font-weight: bold;
    color: #74c9ff;
}

.ant-pagination-item-active a {
	color:white;
}

.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
	color:white;
}

.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
	border-color: #74c9ff;
}

.ant-calendar-selected-day .ant-calendar-date:hover {
	background: #74c9ff;
}

.ant-card-extra {
	padding: 10px 0;
}

.ant-input-group-addon {
	background-color: #ECEFFA;
}

.ant-confirm-body-wrapper .ant-btn:hover, .ant-btn:focus {
	border-color:#d9d9d9;

	
}

.ant-layout-sider-trigger {
    background: #f2f2f2;
    color: #e56045;
    border-right: 1px solid #ddd;
}

.ant-spin-dot-item {
	background-color:#e56045;
}

.crm_filter {
    background: #fff !important;
	padding: 24px !important;
	margin: 24px !important;
	margin-bottom: 0 !important;
	margin-top:24px !important;
}


.ant-cascader-picker-label:hover + .ant-cascader-input {
    border-color: #e56045;
}

.ant-cascader-picker:focus .ant-cascader-input {
    border-color: #e56045;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px #ffb9b2;
            box-shadow: 0 0 0 2px #ffb9b2;
  }

  .ant-cascader-menu-item:hover {
      background: #ffb9b2;
  }